<style>

body{
background: rgb(0,42,200);
background: radial-gradient(circle, rgba(0,42,200,1) 0%, rgba(0,45,143,1) 25%, rgba(0,25,82,1) 56%, rgba(0,0,0,1) 100%);
}

body.nr-dashboard-theme md-toolbar {
background-color: black;
color: black;
}

.nr-dashboard-theme ui-card-panel{
border-radius: 10px;
}

body.nr-dashboard-theme md-sidenav {
color: #71dfe4;
background-color: rgb(69 69 69);
}

ng-md-icon{
color: black;
}

.md-toolbar-tools h1{
color: black;
}

#equis{
background-color: white;
}

</style>